.weather-display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .weather-info {
    text-align: center;
  }
  
  .weather-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .weather-info p {
    font-size: 18px;
  }
  